<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href= "/app/static/imagem/logoverde.png" type="image/x-icon">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="/app/static/style.css">
    <script src="/app/static/script.js"></script>
        
</head>
<body>
    <div class="container">
        <h1>Cadastrar Cliente</h1>
        <hr>
        
        <form action="novo_cliente'" method="POST">

            <div class="nome">
                <label for="nome">Nome</label><br>
                <input type="text" name="nome">
            </div>

            <div class="email">
                <label for="email">E-mail</label><br>
                <input type="email" name="email" class="email">
            </div>

            <div class="campo-telefone">
                <label for="telefone">Telefone</label><br>
                <span class="erro-telefone">Insira no formato (99) 99999-9999</span>
                <input type="tel" name="telefone" id="telefone">
            </div>
            
            <div class="data_nasc">
                <label for="data_nasc">Data de Nascimento</label><br>
                <input type="date" name="data_nasc">
            </div>

            <section>
                <div class="sexo">
                    <label for="sexo">Sexo</label><br>
                    <select name="sexo">
                        <option value=""></option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
            </section>

            <input type="submit" value="Adicionar">

            <h3>
                <p><small>Voltar à página inicial.</small></p>
                <p>
                    <a href="index_navegação.html" rel="prev">
                        <img src="/app/static/imagem/setade voltar.png" alt="Setade voltar">
                    </a>
                </p>
            </h3>
        </form>
    </div>
</body>
</html>
