<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/static/imagem/logoverde.png" type="image/x-icon">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="/app/static/style.css">
    <script src="/app/static/script.js"></script>
</head>
<body>
    <div class="container">
        <form action="novo_produto" method="POST">
            <div class="nome">
                <label for="nome">Produto</label><br>
                <input type="text" name="nome">
            </div>
            <div class="quantidade">
                <label for="quantidade">Quantidade</label><br>
                <input type="quantidade" name="quantidade" class="quantidade">
            </div>
            <div class="valor">
                <label for="valor">Valor</label><br>
                <input type="valor" name="valor">
            </div>
            <input type="submit" value="Adicionar">
            <p><small>Voltar à página inicial.</small></p>
            <a href="index_navegação.html" rel="prev">
            <img src="/app/static/imagem/setade voltar.png" alt="Setade voltar">
            </a>
        </form>
        </div>
    </div>
</body>
</html>