<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/static/imagem/logoverde.png" type="image/x-icon">
    <title>Navegador</title> 
    <link rel="stylesheet" href="/app/static/style.css">

</head>
<body>
    <div classe="navegador" >
        <h1>       
            <a href="cadastrar_cliente.html" target="_self"> <input type="submit" value="Cadastrar Cliente" ></a><br>
            <a href="cadastrar_produto.html" target="_self"> <input type="submit" value="Cadastrar Produto" ></a><br>
            <a href="gerenciar_cliente.html"><input type="submit" value="Gerenciar Cliente"></a><br>
            <a href="gerenciar_produto.html"><input type="submit" value="Geranciar Produto"></a>
        </h1>
    </div>
</body>
</html>
