<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logoverde.png" type="image/x-icon">
    <title>Gerenciar Cliente</title>
    
</head>
<body>
    <h1>
        
    </h1>
     <h3>
        <p><small>clique na seta para voltar a página inicial.</small></p>
        <p><a href="index_navegação.html" rel="prev"><img src="voltar02.png" alt=""></a>
    </h3>
</body>
</html>